@page
@model IndexModel
@{
    ViewData["Title"] = "Informacja";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja Demonstracyjna Chess Game</h1>

    <h5>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</h5>
    
    <h5>Ches Board 8x8</h5>

    <h4>Sekwencja ruchów: <strong></strong></h4>
</div>
